<div ng-app="fortuneGraph" ng-controller="graphController">
<div class="col-md-4">
  <highchart class="col-md-12" id="chart1" config="scatter"></highchart>
</div>
<div class="col-md-4">
  <highchart class="col-md-12" id="chart1" config="bar"></highchart>
</div>
<div class="col-md-4">
  <highchart class="col-md-12" id="chart1" config="pie"></highchart>
</div>
<!-- <div class="col-md-3">
  <highchart class="col-md-12" id="chart1" config="stackedColumns"></highchart>
</div> -->
<%= current_user %>
</div>